"*":
  "atom-rst-preview-docutils":
    rst2html: "rst2html.py"
  "character-table":
    enableCharacterMnemonics: true
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter"
    ]
    projectHome: "/Users/mshenfield/Code"
    reopenProjectMenuCount: 5
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "hidden"
  editor: {}
  "exception-reporting":
    userId: "c6eed4e5-0e1b-4b3e-9e3d-fce7fd88970c"
  "ide-python":
    pylsPlugins:
      pydocstyle:
        enabled: true
  "project-folder":
    projectRootDirectories: [
      "~/Code"
    ]
  "spell-check":
    addKnownWords: true
    excludedGrammars: [
      "(?:\\w+\\.)*directive\\.restructuredtext"
      "entity\\.name\\.tag\\.restructuredtext"
    ]
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.restructuredtext"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
".restructuredtext.text":
  editor:
    showIndentGuide: true
